@use 'config/reset.scss';
@use 'config/cores.scss';
@use 'sass:math';

@function pxToEm($px, $em : 16px) {
  @return math.div($px, $em)+em;
}

@mixin padding() {
  padding-top: 15px;
  padding-bottom: 15px;
}

body {
  background-color: cores.$cinza;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: cores.$preto;
  position: sticky;
  top: 0;
  left: 0;

  img {
    height: 80px;
    width: auto;

  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.menu {
  display: flex;
}

.menu li {
  font-weight: bold;
  margin-left: 24px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 56px 0;
}

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;
}

.product-item {

  margin-bottom: 32px;

  h4 {
    padding-top: 20px;
    font-size: pxToEm(28px);
  }

  p {
    @include padding();
  }
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.product-button {
  display: block;
  background-color: cores.$verde;
  color: cores.$preto;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;

  @include padding();

  &:hover {
    background-color: cores.$preto;
    color: cores.$verde;
  }
}



@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
    display: block;
  }


}
